* {
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-user-select: none;
  height: 100%;
  font-family: helveticaneue-light, helvetia neue light, helvetia neue, hiragino sans gb, microsoft yahei, serif;
  color: #fef2f0;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(224, 224, 224, 0.8);
  border-radius: 5px;
}
input,
textarea {
  -webkit-user-select: text;
}
header {
  padding: 0 10px 0 30px;
  height: 80px;
  line-height: 75px;
  -webkit-app-region: drag;
  background: #b14d3c;
  color: #fef2f0;
  font-size: 48px;
  font-family: HelveticaNeue-Thin, Lantinghei SC;
}
header a {
  margin-top: 15px;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  background: url("../../images/icons.png") no-repeat;
  opacity: .8;
}
header a:hover {
  opacity: 1;
}
header a.min_btn {
  background-position: 0 0;
}
header a.max_btn {
  background-position: -30px 0;
}
header a.close_btn {
  background-position: 0 0;
}
span.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../../images/icons.png") no-repeat;
}
span.icon.icon_folder {
  background-position: 0 -24px;
}
span.icon.icon_tool {
  background-position: -30px -30px;
}
span.icon.icon_list {
  background-position: -60px -30px;
}
span.icon.icon_person {
  background-position: -90px -30px;
}
/*详情页*/
.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  /*width: 450px;*/

  /*height: 230px;*/

  background: #FFF;
  border: 5px solid #C1C4C6;
  z-index: 9999;
}
.dialog .close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border: 0 none;
  overflow: hidden;
  text-indent: -100em;
  background: url("../../images/icons.png");
  opacity: .8;
  /*background-image: -webkit-image-set(url(../images/delete.png) 1x, url(../images/delete_2x.png) 2x);*/

  cursor: pointer;
}
.dialog .close:hover {
  opacity: 1;
  /*background-image: -webkit-image-set(url(../images/delete_hover.png) 1x, url(../images/delete_hover_2x.png) 2x);*/

}
.dialog .bd {
  /*min-height: 90px;*/

  padding: 30px;
  /*text-align: center;*/

  line-height: 30px;
  background: #fff;
  font-size: 16px;
  color: #333;
}
.dialog .ctrl {
  height: 50px;
  padding: 10px 0;
  background: #fef2f0;
  text-align: center;
}
.dialog .ctrl .dialog_cancel_btn {
  background: #b14d3c;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #8b3c2f, inset 0 0 0 1px #c76959;
  color: #fef2f0;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 0;
  width: 60px;
  height: 40px;
  background: transparent;
  color: #b14d3c;
  border: 0 none;
  box-shadow: none;
}
.dialog .ctrl .dialog_cancel_btn:hover {
  background: #c05846;
}
.dialog .ctrl .dialog_cancel_btn:disabled {
  cursor: default;
  background: #777777;
  box-shadow: 0 0 0 1px #5d5d5d, inset 0 0 0 1px #909090;
}
.dialog .ctrl .dialog_cancel_btn.secondary_btn {
  color: #b14d3c;
  background: #feeeeb;
  box-shadow: 0 0 0 1px #fbc9c0;
}
.dialog .ctrl .dialog_cancel_btn.secondary_btn:hover {
  background: #fef6f5;
}
.dialog .ctrl .dialog_cancel_btn:hover {
  background: transparent;
  color: #c76959;
  border: 0 none;
  box-shadow: none;
}
.dialog .ctrl .dialog_ok_btn {
  background: #b14d3c;
  border: 0 none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #8b3c2f, inset 0 0 0 1px #c76959;
  color: #fef2f0;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 0;
  width: 90px;
  height: 40px;
}
.dialog .ctrl .dialog_ok_btn:hover {
  background: #c05846;
}
.dialog .ctrl .dialog_ok_btn:disabled {
  cursor: default;
  background: #777777;
  box-shadow: 0 0 0 1px #5d5d5d, inset 0 0 0 1px #909090;
}
.dialog .ctrl .dialog_ok_btn.secondary_btn {
  color: #b14d3c;
  background: #feeeeb;
  box-shadow: 0 0 0 1px #fbc9c0;
}
.dialog .ctrl .dialog_ok_btn.secondary_btn:hover {
  background: #fef6f5;
}
body {
  background-image: -webkit-linear-gradient(top, #ff8989, #f83b42);
}
#jobInfo {
  /*margin:20px;*/

  display: -webkit-flex;
}
#jobInfo ul {
  -webkit-flex: 1;
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  height: 300px;
  overflow: auto;
}
#jobInfo ul li {
  line-height: 24px;
  white-space: nowrap;
  overflow-x: hidden;
}
#jobInfo ul li:hover,
#jobInfo ul li.hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
