* {
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-user-select: none;
  height: 100%;
  font-family: helveticaneue-light, helvetia neue light, helvetia neue, hiragino sans gb, microsoft yahei, serif;
  color: #fef2f0;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(224, 224, 224, 0.8);
  border-radius: 5px;
}
input,
textarea {
  -webkit-user-select: text;
}
header {
  padding: 0 10px 0 30px;
  height: 80px;
  line-height: 75px;
  -webkit-app-region: drag;
  background: #b14d3c;
  color: #fef2f0;
  font-size: 48px;
  font-family: HelveticaNeue-Thin, Lantinghei SC;
}
header a {
  margin-top: 15px;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  background: url("../../images/icons.png") no-repeat;
  opacity: .8;
}
header a:hover {
  opacity: 1;
}
header a.min_btn {
  background-position: 0 0;
}
header a.max_btn {
  background-position: -30px 0;
}
header a.close_btn {
  background-position: 0 0;
}
span.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../../images/icons.png") no-repeat;
}
span.icon.icon_folder {
  background-position: 0 -24px;
}
span.icon.icon_tool {
  background-position: -30px -30px;
}
span.icon.icon_list {
  background-position: -60px -30px;
}
span.icon.icon_person {
  background-position: -90px -30px;
}
/*详情页*/
.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  /*width: 450px;*/

  /*height: 230px;*/

  background: #FFF;
  border: 5px solid #C1C4C6;
  z-index: 9999;
}
.dialog .close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border: 0 none;
  overflow: hidden;
  text-indent: -100em;
  background: url("../../images/icons.png");
  opacity: .8;
  /*background-image: -webkit-image-set(url(../images/delete.png) 1x, url(../images/delete_2x.png) 2x);*/

  cursor: pointer;
}
.dialog .close:hover {
  opacity: 1;
  /*background-image: -webkit-image-set(url(../images/delete_hover.png) 1x, url(../images/delete_hover_2x.png) 2x);*/

}
.dialog .bd {
  /*min-height: 90px;*/

  padding: 30px;
  /*text-align: center;*/

  line-height: 30px;
  background: #fff;
  font-size: 16px;
  color: #333;
}
.dialog .ctrl {
  height: 50px;
  padding: 10px 0;
  background: #fef2f0;
  text-align: center;
}
.dialog .ctrl .dialog_cancel_btn {
  background: #b14d3c;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #8b3c2f, inset 0 0 0 1px #c76959;
  color: #fef2f0;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 0;
  width: 60px;
  height: 40px;
  background: transparent;
  color: #b14d3c;
  border: 0 none;
  box-shadow: none;
}
.dialog .ctrl .dialog_cancel_btn:hover {
  background: #c05846;
}
.dialog .ctrl .dialog_cancel_btn:disabled {
  cursor: default;
  background: #777777;
  box-shadow: 0 0 0 1px #5d5d5d, inset 0 0 0 1px #909090;
}
.dialog .ctrl .dialog_cancel_btn.secondary_btn {
  color: #b14d3c;
  background: #feeeeb;
  box-shadow: 0 0 0 1px #fbc9c0;
}
.dialog .ctrl .dialog_cancel_btn.secondary_btn:hover {
  background: #fef6f5;
}
.dialog .ctrl .dialog_cancel_btn:hover {
  background: transparent;
  color: #c76959;
  border: 0 none;
  box-shadow: none;
}
.dialog .ctrl .dialog_ok_btn {
  background: #b14d3c;
  border: 0 none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #8b3c2f, inset 0 0 0 1px #c76959;
  color: #fef2f0;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 0;
  width: 90px;
  height: 40px;
}
.dialog .ctrl .dialog_ok_btn:hover {
  background: #c05846;
}
.dialog .ctrl .dialog_ok_btn:disabled {
  cursor: default;
  background: #777777;
  box-shadow: 0 0 0 1px #5d5d5d, inset 0 0 0 1px #909090;
}
.dialog .ctrl .dialog_ok_btn.secondary_btn {
  color: #b14d3c;
  background: #feeeeb;
  box-shadow: 0 0 0 1px #fbc9c0;
}
.dialog .ctrl .dialog_ok_btn.secondary_btn:hover {
  background: #fef6f5;
}
body {
  background: #fef2f0;
}
#landing_container button {
  background: #b14d3c;
  border: 0 none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #8b3c2f, inset 0 0 0 1px #c76959;
  color: #fef2f0;
  cursor: pointer;
  font-size: 18px;
  width: 180px;
  height: 60px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  margin-top: 20px;
  font-size: 24px;
}
#landing_container button:hover {
  background: #c05846;
}
#landing_container button:disabled {
  cursor: default;
  background: #777777;
  box-shadow: 0 0 0 1px #5d5d5d, inset 0 0 0 1px #909090;
}
#landing_container button.secondary_btn {
  color: #b14d3c;
  background: #feeeeb;
  box-shadow: 0 0 0 1px #fbc9c0;
}
#landing_container button.secondary_btn:hover {
  background: #fef6f5;
}
#landing_container button input[type=file] {
  position: absolute;
  -webkit-transform: scale(4);
  opacity: 0;
  cursor: pointer;
}
#landing_container button input[type=file]:disabled {
  cursor: default;
}
#taskInfo {
  display: none;
  margin: 20px 30px 10px 30px;
  padding: 15px 0 5px 0;
  border-bottom: 1px solid white;
}
#taskInfo .taskList {
  float: right;
  position: relative;
  left: 25px;
  margin-top: 10px;
  vertical-align: bottom;
}
#taskInfo .taskList select {
  -webkit-appearance: none;
  background: transparent;
  color: white;
  border: 0 none;
  font-size: 14px;
  padding-right: 20px;
  outline: none;
}
#taskInfo .taskList .currTask_icon {
  display: inline-block;
  position: relative;
  left: -25px;
  width: 25px;
  height: 20px;
  pointer-events: none;
  background: url("../../images/icons.png") -90px 0;
}
#taskInfo::after {
  display: block;
  content: ' ';
  visibility: hidden;
  clear: both;
}
#jobList {
  margin: 45px 40px 10px 40px;
  height: 220px;
  overflow: auto;
  list-style: none;
  color: #000;
}
#jobList li {
  margin-bottom: 5px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
}
#jobList li .icon {
  display: inline-block;
  width: 20px;
  height: 25px;
  vertical-align: -3px;
  background: url("../../images/icons.png");
}
#jobList li:hover {
  background: rgba(255, 255, 255, 0.1);
  /*cursor: pointer;*/

}
#jobList li.done .icon {
  background-position: -58px -57px;
}
#jobList li.error .icon {
  background-position: -88px -57px;
}
#jobList li.doing .icon {
  background-position: -28px -57px;
}
#jobList li.waiting .icon {
  background-position: 2px -57px;
}
#jobList li .title {
  display: inline-block;
  width: -webkit-calc(100% - 40px);
  padding-left: .5em;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(left, #fcebbc, #fcebbc);
  -webkit-transition: all .4s;
  background-size: 0 100%;
}
#taskmarket_container ul {
  margin: 45px 40px 10px 40px;
  height: 220px;
}
#taskmarket_container li {
  display: inline-block;
  width: 120px;
  cursor: pointer;
}
#taskmarket_container li .task_icon {
  -webkit-transition: all .3s;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  box-shadow: 0 0 2px #bbb;
  background: url("../../images/taskicons.png") -3px 0, -webkit-linear-gradient(-45deg, #f8f8f8, #e8e8e8);
}
#taskmarket_container li p {
  -webkit-transition: all .3s;
  color: #a9a9a9;
  font-size: 14px;
  line-height: 2em;
  text-align: center;
}
#taskmarket_container li:hover .task_icon,
#taskmarket_container li.selected .task_icon {
  box-shadow: 0 0 5px #b14d3c;
  background: url("../../images/taskicons.png") -83px 0, -webkit-linear-gradient(-45deg, #f8f8f8, #e8e8e8);
}
#taskmarket_container li:hover p,
#taskmarket_container li.selected p {
  color: #b14d3c;
}
#operate {
  padding-top: 20px;
  padding-right: 40px;
  text-align: right;
}
#operate button {
  background: #b14d3c;
  border: 0 none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #8b3c2f, inset 0 0 0 1px #c76959;
  color: #fef2f0;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  width: 125px;
  height: 40px;
}
#operate button:hover {
  background: #c05846;
}
#operate button:disabled {
  cursor: default;
  background: #777777;
  box-shadow: 0 0 0 1px #5d5d5d, inset 0 0 0 1px #909090;
}
#operate button.secondary_btn {
  color: #b14d3c;
  background: #feeeeb;
  box-shadow: 0 0 0 1px #fbc9c0;
}
#operate button.secondary_btn:hover {
  background: #fef6f5;
}
#operate button span.icon {
  width: 20px;
  height: 20px;
  vertical-align: -3px;
}
