*{
	margin:0;
	padding: 0;
}

@titleHeight:80px;
@titlePaddingLeft:30px;
@titlePaddingRight:10px;

@body_bg:#FEF2F0;
@title_bg:#B14D3C;
@title_text_color:#FEF2F0;

@bg_light:#FF8989;
@bg_dark:#F83B42;

@btn_bg:#B14D3C;


@text_light_color:#FEF2F0;
@text_dark_color:#B14D3C;

@bgUrlBase:'../../images/';

.gradient(@top,@bottom){

	background-image:-webkit-linear-gradient(top,@top,@bottom);

}

.gradient(@direction,@top,@bottom){

	background-image:-webkit-linear-gradient(@direction,@top,@bottom);

}

.btn(@font-size:18px){
	-webkit-app-region:no-drag;
	background:@btn_bg;
	border:0 none;
	border-radius: 2px;
	box-shadow: 0 0 0 1px darken(@btn_bg,10%),
		inset 0 0 0 1px lighten(@btn_bg,10%);
	color:@text_light_color;
	cursor:pointer;
	font-size:@font-size;

	&:hover{
		background:lighten(@btn_bg,5%);
	}
	&:disabled{
		cursor: default;
		background: greyscale(@btn_bg);
		box-shadow: 0 0 0 1px greyscale(darken(@btn_bg,10%)),
			inset 0 0 0 1px greyscale(lighten(@btn_bg,10%));
	}

	&.secondary_btn{
		color:@text_dark_color;
		background: darken(@body_bg,1%);
		box-shadow: 0 0 0 1px darken(@body_bg,10%);
		&:hover{
			background:lighten(@body_bg,1%);
		}
	}

}

html,body{
	-webkit-user-select:none;
	height:100%;
	font-family: helveticaneue-light,helvetia neue light,helvetia neue,hiragino sans gb,microsoft yahei,serif;
	color:@text_light_color;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background:rgba(224,224,224,.8);
    border-radius: 5px;
}

input,textarea{
	-webkit-user-select:text;
}

header{
	padding:0 @titlePaddingRight 0 @titlePaddingLeft;
	height:@titleHeight;
	line-height: @titleHeight - 5px;
	-webkit-app-region:drag;
	background: @title_bg;
	color:@title_text_color;
	font-size:48px;
	font-family: HelveticaNeue-Thin,Lantinghei SC;
	overflow: hidden;
	span{
		display: inline-block;
		width: ~"-webkit-calc(100% - 60px)";
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	a{
		-webkit-app-region:no-drag;
		margin-top: 15px;
		display: block;
		float: right;
		width:20px;
		height:20px;
		background: url("@{bgUrlBase}icons.png") no-repeat;
		opacity: .8;
		&:hover{
			opacity:1;
		}
		&.min_btn{
			background-position: -30px 0;
		}
		&.max_btn{
			background-position: -60px 0;
		}
		&.close_btn{
			background-position: 0 0;
		}
	}
}

span.icon{
	display: inline-block;
	width:25px;
	height:25px;
	background: url("@{bgUrlBase}icons.png") no-repeat;
}

span.icon.icon_folder{
	background-position: 0 -24px;
}
span.icon.icon_tool{
	background-position: -30px -30px;
}
span.icon.icon_list{
	background-position: -60px -30px;
}
span.icon.icon_person{
	background-position: -90px -30px;
}


/*详情页*/
.dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform:translate(-50%,-50%);
	/*width: 450px;*/
	/*height: 230px;*/
	background: #FFF;
	border: 5px solid #C1C4C6;
	z-index: 9999;
}
.dialog .close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	border: 0 none;
	overflow: hidden;
	text-indent: -100em;
	background: url("@{bgUrlBase}icons.png");
	opacity: .8;
	/*background-image: -webkit-image-set(url(../images/delete.png) 1x, url(../images/delete_2x.png) 2x);*/
	cursor: pointer;
}
.dialog .close:hover {
	opacity: 1;
	/*background-image: -webkit-image-set(url(../images/delete_hover.png) 1x, url(../images/delete_hover_2x.png) 2x);*/
}
.dialog .bd {
	/*min-height: 90px;*/
	padding: 30px;
	/*text-align: center;*/
	line-height: 30px;
	background: #fff;
	font-size: 16px;
	color: #333;
	word-wrap: break-word;
	p.checkList{
		text-align: center;
		font-size: 12px;
		padding-top: 1em;
	}
}
.dialog .ctrl {
	height: 50px;
	padding: 10px 0;
	background: @body_bg;
	text-align: center;
}
.dialog .ctrl .dialog_cancel_btn{
	.btn();
	margin:5px 0;
	width:60px;
	height:40px;
	background: transparent;
	color:@text_dark_color;
	border:0 none;
	box-shadow: none;
	&:hover{
		background: transparent;
		color:lighten(@text_dark_color,10%);
		border:0 none;
		box-shadow: none;		
	}
}
.dialog .ctrl .dialog_ok_btn {
	.btn();
	margin:5px 0;
	width:90px;
	height:40px;
}
