@import "base.less";

body{
	background: @body_bg;
}

#landing_container{
	button{
		.btn();
		width:180px;
		height:60px;
		overflow: hidden;
		position: absolute;
		left:50%;
		top:50%;
		-webkit-transform:translate(-50%,-50%);
		margin-top:20px;
		font-size:24px;
		padding-right: 10px;
		input[type=file]{
			position: absolute;
			-webkit-transform: scale(4);
			opacity: 0;
			cursor: pointer;
			&:disabled{
				cursor: default;
			}
		}
	}
	select.btn_more{
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-appearance: none;
		height: 60px;
		width: 20px;
		border-radius: 0 3px 3px 0;
		-webkit-transform: translate(-50%,-50%);
		margin-top: 20px;
		margin-left: 80px;
		background-color: @btn_bg;
		background-image:url("@{bgUrlBase}icons.png");
		background-position:-85px 28px;
		/*background-size:10px 10px;*/
		outline: 0 none;
		border: 1px solid lighten(@btn_bg,10%);
		border-left: 1px solid transparent;
		color:transparent;
		&:hover{
			border-left: 1px solid darken(@btn_bg,10%);
			box-shadow: -1px 0px 1px 0 lighten(@btn_bg,10%);
			background-color:lighten(@btn_bg,5%);
		}
	}
}

#taskInfo{
	display: none;
	margin:20px 30px 10px 30px;
	padding:15px 0 5px 0;
	border-bottom:1px solid white;
	.taskList{
		float:right;
		position: relative;
		left:25px;
		margin-top: 10px;
		vertical-align: bottom;
		select{
			-webkit-appearance: none;
			background: transparent;
			color: white;
			border: 0 none;
			font-size: 14px;
			padding-right: 20px;
			outline: none;
		}
		.currTask_icon{
			display: inline-block;
			position: relative;
			left:-25px;
			width:25px;
			height:20px;
			pointer-events:none;
			background:url("@{bgUrlBase}icons.png") -90px 0;
		}

	}
	&::after{
		display: block;
		content:' ';
		visibility: hidden;
		clear: both;
	}
}

.offsetIcon(@x,@y){
	background-position: @x + 2px @y + 3px;
}

@-webkit-keyframes flash{
	from{
		box-shadow: 0 0 0 @btn_bg;
	}
	50%{
		box-shadow: 0 0 15px @btn_bg;
	}
	to{
		box-shadow: 0 0 0 @btn_bg;
	}
}

#jobList{
	margin:40px 40px 10px 40px;
	padding-top: 5px;/*retina下被“切头”的问题*/
	height:220px;
	overflow: auto;
	list-style: none;
	color:#000;
	li{
		display: inline-block;
		width:120px;
		cursor:pointer;
		.task_icon{
			-webkit-transition:box-shadow 1s;
			margin:0 auto;
			width:70px;
			height:70px;
			border-radius:70px;
			box-shadow: 0 0 2px #bbb;
			background:url("@{bgUrlBase}taskicons.png") -3px 0,
					-webkit-linear-gradient(-45deg,#f8f8f8,#e8e8e8);
			background-image:-webkit-image-set(url("@{bgUrlBase}taskicons.png") 1x,
				url("@{bgUrlBase}taskicons@2x.png") 2x);
		}
		p{
			-webkit-transition:color 1s;
			color:#a9a9a9;
			font-size: 14px;
			line-height: 2em;
			text-align: center;
		}
		&.done{
			.task_icon{
				box-shadow: 0 0 5px @btn_bg;
				background:url("@{bgUrlBase}taskicons.png") -83px 0,
					-webkit-linear-gradient(-45deg,#f8f8f8,#e8e8e8);
				background-image:-webkit-image-set(url("@{bgUrlBase}taskicons.png") 1x,
					url("@{bgUrlBase}taskicons@2x.png") 2x);
			}
			p{
				color:@text_dark_color;
			}
		}
		&.waiting{
			.task_icon{
				/*box-shadow: 0 0 15px @btn_bg;*/
			}
		}
		&.doing{
			.task_icon{
				-webkit-animation:flash 1s;
				-webkit-animation-iteration-count: infinite;
			}
		}
	}
}

#taskmarket_container{
	ul{
		margin:45px 40px 10px 40px;
		height:220px;

	}
	li{
		display: inline-block;
		width:120px;
		cursor:pointer;
		.task_icon{
			-webkit-transition:all .3s;
			margin:0 auto;
			width:70px;
			height:70px;
			border-radius:70px;
			box-shadow: 0 0 2px #bbb;
			background:url("@{bgUrlBase}taskicons.png") -3px 0,
					-webkit-linear-gradient(-45deg,#f8f8f8,#e8e8e8);
		}
		p{
			-webkit-transition:all .3s;
			color:#a9a9a9;
			font-size: 14px;
			line-height: 2em;
			text-align: center;
		}
		&:hover,&.selected{
			.task_icon{
				box-shadow: 0 0 5px @btn_bg;
				background:url("@{bgUrlBase}taskicons.png") -83px 0,
					-webkit-linear-gradient(-45deg,#f8f8f8,#e8e8e8);
			}
			p{
				color:@text_dark_color;
			}
		}
		&:active{
			.task_icon{
				box-shadow: 0 0 15px @btn_bg;
			}
		}
	}
}

#buildconfig_container{
	margin:45px 40px 10px 40px;
	height:220px;
	color:@text_dark_color;
	p.log{
		color:#888;
		font-size: 12px;
		height: 220px;
		overflow: auto;
	}
}

#operate{
	padding-top: 20px;
	padding-right: 40px;
	text-align: right;
	a{
		color:@text_dark_color;
		text-decoration: none;
		&:hover{
			color:lighten(@text_dark_color,5%);
			text-decoration: underline;
		}
	}
	button{
		.btn();
		margin-left: 10px;
		width:125px;
		height:40px;
		span.icon{
			width:20px;
			height:20px;
			vertical-align: -3px;
		}
	}
}